.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

.content {
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.22);
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  background: var(--gray-500);
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: var(--gray-800);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }

  li {
    max-width: 25rem;
  }
}

.modal {
  background: var(--white);
  display: grid;
  border-radius: 0.8rem;
  min-height: 30rem;

  img {
    height: 100%;
    max-height: 25rem;
    width: 25rem;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
}

.description {
  padding: 1rem;
  background: var(--gray-400);
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .price {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      color: var(--white);
      font-weight: bold;
      border-radius: 0.4rem;
      padding: 0.5rem;
      border: 0;
      background-color: var(--green-500);
      font-size: 1.2rem;
    }
  }

  h2 {
    color: var(--gray-800);
  }

  p {
    font-size: 1.2rem;
    color: var(--gray-780);
  }

  strong {
    align-self: flex-end;
    display: block;
    font-size: 1.5rem;
    color: var(--green-500);
  }
}
