.headerContainer {
  background: var(--blue-500);
  height: 15rem;
  padding: 1.5rem;
}

.logo {
  display: flex;
}

.headerContent {
  display: flex;
  justify-content: space-between;

  img {
    width: 5rem;
    margin-right: 1.5rem;
  }

  h1 {
    color: var(--white);
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
    color: var(--orange-500);
  }
}

.points {
  display: flex;
  word-wrap: break-word;

  p {
    font-size: 1.2rem;
    text-align: end;
    color: var(--orange-500);
  }

  strong {
    color: var(--white);
  }
}
